/* Custom CSS overrides */

html, body {
 background-color: none;
}

html, body {
 background-color: rgba(0,0,0,0.5);
 overflow: hidden;
}

img.fullscreen {
 height: 100%;
 position: absolute;
 z-index:-1;
 left: 0;
}
